
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
	background-color: #2639c9;
	font-family: "Roboto", sans-serif;
}
body{
	width: 600px;
	margin: 0 auto;
	background-color: #8a8d9e;
	padding: 0 20px 20px 20px;
	border: 2px dashed black;
}

h1{
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #2639c9;
	text-shadow: 3px 3 px 1px black;
}

h2{
	font-size: 24px;
	font-weight: 600;
}

h3{
	font-size: 20px;
	font-weight: 600;

}


h4{
	font-size: 16px;
	font-weight: 600;

}


h5{
	font-size: 14px;
	font-weight: 600;

}


h6{
	font-size: 12px;
	font-weight: 600;

}

p{
	font-weight: 400;
	font-size: 12px;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


